body {
	background-color: #2B4C4C;
	font-family: verdana;
	color: #E5D78E;
}

.common-link:link {
	color: #669999;
	text-decoration: none;
}
.common-link:visited {
	color: #669999;
	text-decoration: none;
}
.common-link:hover {
	color: white;
	text-decoration: none;
}
