body {
	background-color: #2B4C4C;
	font-family: verdana;
	color: #E5D78E;
}

.common-link:link {
	color: #669999;
	text-decoration: none;
}
.common-link:visited {
	color: #669999;
	text-decoration: none;
}
.common-link:hover {
	color: white;
	text-decoration: none;
}

.disguised-link:link {
	color: #E5D78E;
	text-decoration: none;
}
.disguised-link:visited {
	color: #E5D78E;
	text-decoration: none;
}
.disguised-link:hover {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.profile-image {
	width: 38%;
}
.profile-name {
	font-size: 3em;
}

.valign {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.vibe-amount {
	font-style: italic;
	font-size: 2.2em;
}
.vibe-icon-sm {
	width: 24px;
	margin: 0 5px;
}

.question {
	font-size: 1.4em;
	float: left;
	display: inline-block;
}
.question:hover {
	color: #2B4C4C;
	cursor: pointer;
}

.popover-content {
	color: black;
}

.custom-regions {
	min-height: 30vh;
}

.custom-box {
	width: 80%;
	min-height: 45vh;
	border: 4px solid #E5D78E;
	background-color: #669999;
	margin: 40px auto;
	padding: 20px 10px;
}

.display-box {
	width: 80%;
	min-height: 45vh;
	border: 4px solid #E5D78E;
	background-color: #669999;
	margin: 0 auto;
	overflow-x: hidden; 
	overflow-y: scroll;
}

.available-name {

}

.available-capacity {
	
}