.title-text {
	font-size: 14em;
}
.general-text {
	font-size: 2.4em;
}
.sub-text {
	font-size: 1.6em;
}

.welcome {
	margin-top: 18vh;
}

.pulse {
	animation: pulse 3s ease infinite;
}
@keyframes pulse {
	0% {
		font-size: 12em;
	}
	50% {
		font-size: 13em;
	}
	100% {
		font-size: 12em;
	}
}